@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap");

.first-nav-item {
	padding-left: 30px;
  }

  .navbar {
	width: 100%;
	padding-top: 0;
	height: 65px;
	padding-bottom: 15px;
	font-size: 18px;
	align-self: stretch;
  }


* {
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
	letter-spacing: 0.5px;
	font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
	  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	  background: url("MAIN.jpg"),
	  linear-gradient(to right, #0f2027, #203a43, #2c5364);
	background-repeat: no-repeat;
	background-size: cover;
	flex-direction: column;
}

.container{
    margin-top: 50px;
    margin-bottom: 20px;
    padding-right: 0;
    padding-left: 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 800px;
}
.header{
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}
.header h2{
    margin: 0;
}
.form{
    padding: 30px 40px;
}
.form-control {
    border: 0;
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.material-icons.one {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.material-icons.two {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
    padding-left: 12px;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	border: 2px solid #03410b;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}
.footer{
	align-self: stretch;
}
